{% extends "account_base.html" %}

{% block account_title %}Sesion finalizada{% endblock %}

{% block account_header %}
<h1>Sesion finalizada</h1>
{% endblock %}

{% block account_content %}
  <div class="row" style="margin-top: 100px;">
    <div class="col text-center">
        <p class="p-large avenir-font" style="font-size: 1.8em; font-weight: 900;">
          Sesión finalizada exitosamente.
          Para volver a acceder da clic <a href="{% url "login" %}">aquí</a>.
        </p>
        
    </div> <!-- end of col -->
  </div> <!-- end of row -->
{% endblock %}
