{% extends "account_base.html" %}
{% load widget_tweaks %}


{% block account_title %}Reestablecer contraseña{% endblock %}

{% block account_header %}
<h1>Reestablecer contraseña</h1>
{% endblock %}

{% block account_content %}
    <div class="row">
        <div class="col-lg-6">
                <form method="post">
                    <p class="p-large">Ingresa tu correo electronico para obtener una nueva contraseña</p>
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field|add_class:'form-control' }}
                            <div class="help-block with-errors"></div>
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                    <button type="submit" class="btn-solid-reg">Enviar</button>
                </form>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
{% endblock %}