{% extends "account_base.html" %}
{% load widget_tweaks %}

{% block account_title %}Reestablecer contraseña{% endblock %}

{% block account_header %}
<h1>Reestablecer contraseña</h1>
{% endblock %}


{% block account_content %}
<div class="row">
    <div class="col-lg-6">
        {% if validlink %}
            <p class="p-large">Por favor ingresa tu nueva contraseña</p>
            <form method="post">
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        <div class="help-block with-errors"></div>
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% csrf_token %}
                <button type="submit" class="btn-solid-reg">Actualizar</button>
            </form>
            {% else %}
            <p class="p-large">El link para reestablecer la contraseña no es valido, probablemente ya fue usado. Por favor, solicita reestablecer tu contraseña de nuevo</p>
        {% endif %}
    </div> <!-- end of col -->
</div> <!-- end of row -->
{% endblock %}
