{% extends "base.html" %}


{% block title %}
{% block account_title %}{% endblock %}
{% endblock %}


{% block header %}
<!-- Header -->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% block account_header %}{% endblock %}     

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
{% endblock %}


<!--{% block navbarfront %}

{% endblock %} -->


{% block navbarback %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link page-scroll baloo-font" href="/" style="font-size: 3.8em;">Lic<span style="color:rgb(241,90,36)!important">i</span>tamex</a>

        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" style="font-size:1.3em" href="{% url 'licitaciones' %}">Licitaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" style="font-size:1.3em" href="{% url 'dashboard' %}">Mi Portal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" style="font-size:1.3em" href="{% url 'configuracion' %}">Configuración</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" style="font-size:1.3em" href="{% url 'logout' %}">Salir</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link page-scroll baloo-font" href="/" style="font-size: 3.8em;">Lic<span style="color:rgb(241,90,36)!important">i</span>tamex</a>

        </li>
    {% endif %}
{% endblock %}


{% block content %}
<div class="form-2">
    <div class="container">
        {% block account_content %}{% endblock %}
    </div> <!-- end of container -->
</div> <!-- end of form-2 -->
{% endblock %}
