{% extends "account_base.html" %}
{% load formats %}

{% block account_title %}Mi portal{% endblock %}

{% block account_header %}
<h2 style="padding-top: 150px;" class="baloo-font">Configuracion</h2>
{% endblock %}

{% block account_content %}
<button id="modal_boton" style="display:none" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title baloo-font" id="exampleModalLabel">Borrar Filtro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body avenir-font">
        Seguro que quieres borrar el filtro
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary gray-button" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger orange-light-button" onClick="aceptar_borrar_filtro()">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-4">
    <label><b class="baloo-font">Grupo</b></label>
      <input class="form-control grupoAutoComplete basic-input" type="text" autocomplete="off" placeholder="Ingresa el grupo">
    </div>
    <div class="col-sm-12 col-md-3">
        <label><b class="baloo-font">Familia</b></label>
        <input class="form-control familiaAutoComplete basic-input" type="text" autocomplete="off" placeholder="Ingresa el familia">
    </div>
    <div class="col-sm-12 col-md-3">
        <label><b class="baloo-font">Articulo</b></label>
        <input class="form-control articuloAutoComplete basic-input" type="text" autocomplete="off" placeholder="Ingresa el artiulo">
    </div>
    <div class="col-sm-4 col-md-2" style="padding-top: 30px;">
      <button class="btn btn-info orange-button hide-element" id="add_filtro_btn" onClick="add_filtro()">Agregar Filtro</button>
    </div>
</div>
<!-- end of row -->
</div>
<br><br>
<div class="row">
    <div class="col">
        <p><b class="baloo-font">Filtros seleccionados:</b></p>
        <div id="tabla_filtros">
        <table class="table">
            <thead>
              <tr>
                <th scope="col" class="table-titles">Grupo</th>
                <th scope="col" class="table-titles">Familia</th>
                <th scope="col" class="table-titles">Articulo</th>
                <th scope="col" class="table-titles">Estatus</th>
              </tr>
            </thead>
            <tbody>
              {% for x in filtros %}
              <tr>
                <th scope="row" class="baloo-font">{{x.grupo|empty_val}}</th>
                <td class="baloo-font">{{x.familia|empty_val}}</td>
                <td class="baloo-font">{{x.articulo|empty_val}}</td>
                <td><div class="dropdown">
                  {% if x.activado %}
                  <button class="btn btn-info dropdown-toggle baloo-font" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Activo
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item baloo-font" onClick="change_status_filtro({{x.id}}, 'Desactivar')" >Desactivar</a>
                    <a class="dropdown-item baloo-font" onClick="change_status_filtro({{x.id}}, 'Eliminar')">Eliminar</a>
                  </div>
                  {% else %}
                  <button class="btn btn-danger dropdown-toggle baloo-font" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Inactivo
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item baloo-font" onClick="change_status_filtro({{x.id}}, 'Activar')">Activar</a>
                    <a class="dropdown-item baloo-font" onClick="change_status_filtro({{x.id}}, 'Eliminar')">Eliminar</a>
                  </div>
                  {% endif %}
                </div></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
    </div>
</div>
{% endblock %}
