{% extends "account_base.html" %}

{% block account_title %}Mi portal{% endblock %}

{% block account_header %}
<h1>Mi portal</h1>
{% endblock %}

{% block account_content %}
<button id="modal_boton" style="display:none" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title baloo-font" id="exampleModalLabel">Borrar licitacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body avenir-font">
        Seguro que quiere borrar la licitacion de sus licitaciones activas
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary gray-button" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger orange-light-button" onClick="aceptar_borrar()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 100px;">
  <div class="col text-center baloo-font" style="font-size: 5.5em; font-weight: 900; margin-bottom: 50px;"><span style="color:rgb(241,90,36)">Mi</span> <span style="color:black">Portal</span></div>
</div>
<div class="row">
  <div class="col-4">
      <form>
          <div class="form-group">
          <label for="exampleInputEmail1" style="font-size:1.3em !important;" class="avenir-font">Buscar Licitacion</label>
          <input id="search_mi_portal_lcitacion" type="email" class="form-control basic-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre Licitacion" onkeyup="keyupFunction_mi_portal()">
          </div>
      </form>
  </div>
  {% if items_qty %}
  <div class="col-3">
      <br><br>
      <form>
          <div class="form-group">
              <span style="font-weight: bold;">Licitaciones Encontradas {{items_qty}}</span>
          </div>
      </form>
  </div>
  {% endif %}
</div>
<div class="row">
    <div class="col">
        <!--<p class="p-large">Informacion de la cuenta de {{request.user.first_name}}</p><br/>-->
        <div id="mis_licitaciones">
            <table class="table">
                <thead>
                  <tr>
                    <th class="table-titles">Detalle</th>
                    <th scope="col" class="table-titles">licitación</th>
                    <th scope="col" class="table-titles">descripción</th>
                    <th scope="col" class="table-titles">Entidad</th>
                    <th scope="col" class="table-titles">Estatus</th>
                  </tr>
                </thead>
                <tbody>
                    {% for x in licitaciones %}
                    <tr>
                      <td class="avenir-font"><a href="/account/licitacion/{{ x.id }}">Ver</a></td>
                        <td class="avenir-font">{{x.licitacion}}</td>
                        <td class="avenir-font" style="font-size:1.1em">{{x.description}}</td>
                        <td class="avenir-font" style="font-size:1.1em">{{x.entidad}}</td>
                        <td><div class="dropdown">
                          {% if x.status == "Abierta" %}
                          <button class="btn btn-info dropdown-toggle baloo-font" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{x.status}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item baloo-font" onClick="change_status({{x.id}}, 'Pendiente')">Pendiente</a>
                            <a class="dropdown-item baloo-font" onClick="change_status({{x.id}}, 'Cerrada')" >Cerrada</a>
                            <a class="dropdown-item baloo-font" onClick="change_status({{x.id}}, 'Eliminar')">Eliminar</a>
                          </div>
                          {% elif x.status == "Pendiente" %}
                          <button class="btn btn-warning dropdown-toggle baloo-font" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{x.status}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item baloo-font" onClick="change_status({{x.id}}, 'Abierta')">Abierta</a>
                            <a class="dropdown-item baloo-font" onClick="change_status({{x.id}}, 'Cerrada')" >Cerrada</a>
                            <a class="dropdown-item baloo-font" onClick="change_status({{x.id}}, 'Eliminar')">Eliminar</a>
                          </div>
                          {% else %}
                          <button class="btn btn-primary dropdown-toggle baloo-font" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{x.status}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item baloo-font" onClick="change_status({{x.id}}, 'Abierta')">Abierta</a>
                            <a class="dropdown-item baloo-font" onClick="change_status({{x.id}}, 'Pendiente')" >Pendiente</a>
                            <a class="dropdown-item baloo-font" onClick="change_status({{x.id}}, 'Eliminar')">Eliminar</a>
                          </div>
                          {% endif %}
                        </div></td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div> <!-- end of col -->
</div> <!-- end of row -->
{% endblock %}
