{% extends "account_base.html" %}
{% load formats %}
{% block account_header %}
<h1>Licitaciones</h1>
{% endblock %}

{% block account_content %}
<div id="main_container" style="padding-top: 100px;">
    <div class="row" style="margin-bottom: 50px;">
        <div class="col text-center baloo-font" style="font-size: 5.5em; font-weight: 900;">
            Lic<span style="color:rgb(241,90,36)">i</span>taciones
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <form>
                <div class="form-group">
                <label for="exampleInputEmail1" style="font-size:1.3em !important;" class="avenir-font">Buscar Licitacion</label>
                <input id="search_licitacion" type="email" class="form-control basic-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre Licitacion" onkeyup="keyupFunction()">
                </div>
            </form>
        </div>
        <div class="col-4" style="padding-top: 13px;">
            <div class="form-group">
                <p></p>
            <div class="dropdown">
                <button id="dependencia-seleccionada-licitaciones" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dependencias
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for x in dependencias %}
                        <a class="dropdown-item" onClick="seleccionar_dependencia('{{x.entidad}}')">{{x.entidad}}</a>
                  {% endfor %}
                  <a class="dropdown-item" onClick="seleccionar_dependencia('todas')">Todas</a>
                </div>
              </div>
            </div>
        </div>
        {% if items_qty %}
        <div class="col-3">
            <br><br>
            <form>
                <div class="form-group">
                    <span style="font-weight: bold;">Licitaciones Encontradas {{items_qty}}</span>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
    <div id="tabla_licitaciones" class="row">
        <div class="col">
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" class="table-titles">Licitacion</th>
                        <th scope="col" class="table-titles">Entidad</th>
                        <th scope="col" class="table-titles">Descripcion</th>
                        <th scope="col" class="table-titles">Detalles</th>
                        <th scope="col" class="table-titles">Seleccion</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for x in licitaciones %}
                        <tr id="{{x.id|format_id_rows}}">
                            <td class="avenir-font" style="font-size:1.1em">
                            {% if x.licitacion %}
                            {{x.licitacion}}
                            {% else %}
                            {% endif %}
                            </td>
                
                            <td class="avenir-font" style="font-size:1.1em">
                            {% if x.entidad %}
                            {{x.entidad}}
                            {% else %}
                            {% endif %}
                            </td>
                            
                            <td class="avenir-font" style="font-size:1.1em">
                            {% if x.entidad == "Jalisco" %}
                                {{x.tipo}} {{x.familia}}
                            {% else %}
                                {% if x.descripcion %}
                                    {{x.descripcion}}
                                    {% else %}
                                {% endif %}
                            {% endif %}
                            </td>
                            <td class="avenir-font" style="font-size:1.1em">
                                {% if x.urls %}
                                {{ x.urls|format_urls|safe }}
                                {% endif %}
                            </td>
                            <td class="baloo-font">
                                {% if x.selected %}
                                <div id="desactivar_licitacion{{x.id|format_id_rows}}" class="btn btn-danger" onClick="desactivar_licitacion({{x.id}})">Desactivar</div>
                                <div id="loader{{x.id|format_id_rows}}" class="loader hide-element"></div>
                                {% else %}
                                <div id="loader{{x.id|format_id_rows}}" class="loader hide-element"></div>
                                <div id="activar_licitacion{{x.id|format_id_rows}}" class="btn btn-info" onClick="activar_licitacion({{x.id}}, '{{x.descripcion}}', '{{x.entidad}}')">Activar</div>
                                {% endif %}
                            </td>

                
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div>
{% endblock %}
