{% extends "account_base.html" %}

{% block account_title %}Bienvenid@{{% endblock %}

{% block account_header %}
<h1>Bienvenid@</h1>
{% endblock %}

{% block account_content %}
<div class="row">
    <div class="col-lg-6">
        <p class="p-large"><b>Solicitud enviada</b></p>
        <p class="p-large">La solicitud ha sido creada exitosamente. Se enviara un correo con tus datos de registro al correo electronico ingresado.</p>
    </div> <!-- end of col -->
</div> <!-- end of row -->
{% endblock %}

