{% extends "account_base.html" %}
{% load widget_tweaks %}


{% block account_header %}
{% endblock %}

{% block account_content %}
<div class="row" style="padding-top: 103px;">
    <div class="col-lg-6" style="padding-top: 70px;">
        <p class="p-large baloo-font titles-register-account blue-color" style="font-size:3.5em!important">Crear tu</p>
        <p class="p-large baloo-font titles-register-account" style="font-size:4.5em!important">Cuenta</p>
        <div class="login-form">
            <form method="post">
                <div class="form-group">
                    {{ user_form.visible_fields.0|add_class:'form-control' }}
                    <div class="help-block with-errors"></div>
                    {% for error in user_form.visible_fields.0.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            {{ user_form.visible_fields.1|add_class:'form-control' }}
                            <div class="help-block with-errors"></div>
                            {% for error in user_form.visible_fields.1.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            {{ user_form.visible_fields.2|add_class:'form-control' }}
                            <div class="help-block with-errors"></div>
                            {% for error in user_form.visible_fields.2.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            {{ user_form.visible_fields.3|add_class:'form-control' }}
                            <div class="help-block with-errors"></div>
                            {% for error in user_form.visible_fields.3.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            {{ user_form.visible_fields.4|add_class:'form-control' }}
                            <div class="help-block with-errors"></div>
                            {% for error in user_form.visible_fields.4.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>

                    </div>

                </div>
                <div class="form-group">
                    {{ user_form.visible_fields.5|add_class:'form-control' }}
                    <div class="help-block with-errors"></div>
                    {% for error in user_form.visible_fields.5.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ user_form.visible_fields.6|add_class:'form-control' }}
                    <div class="help-block with-errors"></div>
                    {% for error in user_form.visible_fields.6.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <div class="row">
                    <span>
                    {{ user_form.visible_fields.7|add_class:'padding-top-10' }}
                    </span>
                    <div class="help-block with-errors"></div>
                    {% for error in user_form.visible_fields.7.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    <span><a href="/terms-conditions" target="_blank">Aceptar terminos y condiciones.</a> <a href="/privacy-policy" target="_blank">Aviso de privacidad.</a></span>
                    </div>
                </div>

                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <button type="submit" class="btn btn-dark orange-button" style="height:50px!important; width:190px!important; font-size:1.7em !important">Crear cuenta</button>
            </form>
        </div>
    </div> <!-- end of col -->
    <div class="col-lg-6 text-center">
        <img class="img-fluid" src="../../../static/images/IMG-ltmx-05.png" alt="alternative">
        <p class="baloo-font" style="font-size: 1.3em; font-weight: 900;">Bien podrías ir en un vuelo a Paris mientras buscamos <br>la convocatoría que configuraste en las notificaciones</p>
    </div>
</div> <!-- end of row -->
{% endblock %}