{% extends "account_base.html" %}
{% load widget_tweaks %}


{% block account_title %}Reestablecer contraseña{% endblock %}

{% block account_header %}
<h1>Reestablecer contraseña</h1>
{% endblock %}

{% block account_content %}
    <div class="row" style="padding-top: 100px; padding-bottom: 50px;">
                <form action="/account/reset-new-password/{{hash}}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contraseña</label>
                        {{ form.visible_fields.0|add_class:'form-control' }}
                        <div class="help-block with-errors"></div>
                        {% for error in form.visible_fields.0.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Confirma contraseña</label>
                                {{ form.visible_fields.1|add_class:'form-control' }}
                                <div class="help-block with-errors"></div>
                                {% for error in form.visible_fields.1.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark orange-button" style="height:50px!important; width:190px!important; font-size:1.7em !important">Restablecer</button>
                </form>
    </div> <!-- end of row -->
{% endblock %}