{% extends "account_base.html" %}
{% load widget_tweaks %}


{% block account_title %}Reestablecer contraseña{% endblock %}

{% block account_header %}
<h1>Reestablecer contraseña</h1>
{% endblock %}

{% block account_content %}
    <div class="row">
        <div class="col-lg-6" style="padding-top: 100px; padding-bottom: 50px;">
                <form method="post">
                    <p class="p-large">Ingresa tu correo electronico para obtener una nueva contraseña</p>
                    <div class="form-group">
                        <label for="id_username">Email</label>
                        <input type="text" name="email" autofocus="" class="form-control basic-input" >                        
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn-solid-reg">Enviar</button>
                </form>
        </div> <!-- end of col -->
    </div> <!-- end of row -->
{% endblock %}