{% extends "base.html" %}
{% load static %}

{% block title %}Licitamex home page{% endblock %}

{% block header %}
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6" style="margin-bottom: 50px; padding-top:50px">
                        <div class="col text-left" style="margin-bottom: 20px;">
                            <span class="baloo-font" style="font-size:3em; font-weight: 900; color:black">¿Te gustaría un socio <br><br> que te notifique de <br><br> nuevas convocatorias?</span>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-dark big-orange-button" style="margin-bottom: 10px"><a style="text-decoration: none; color:white;"href="/account/register/">Regístrate</a></button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-light big-button-border-orange"><a style="text-decoration: none; color:rgb(241,90,36)"href="/account/login/">Inicia Sesión</a></button>
                            </div>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static 'images/header-teamwork.svg' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->
{% endblock %}

{% block navbarfront %}
<!-- Dropdown Menu -->          
<li class="nav-item dropdown padding-nav-items">
    <a style="font-size:1.3em" class="nav-link dropdown-toggle page-scroll helvetica-font" href="#services" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Conócenos</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item helvetica-font" href="https://www.nilaconsulting.com.mx/"><span class="item-text">Nila Consulting</span></a>
        <div class="dropdown-items-divide-hr"></div>
        <a class="dropdown-item helvetica-font" href="{% url 'terms-conditions' %}"><span class="item-text">Terminos y condiciones</span></a>
        <div class="dropdown-items-divide-hr"></div>
        <a class="dropdown-item helvetica-font" href="{% url 'privacy-policy' %}"><span class="item-text">Politica de privacidad</span></a>
    </div>
</li>
<!-- end of dropdown menu -->
<li class="nav-item padding-nav-items">
    <a style="font-size:1.3em" class="nav-link page-scroll helvetica-font " href="#pricing">Membresías</a>
</li>
<li class="nav-item padding-nav-items">
    <a style="font-size:1.3em" class="nav-link page-scroll helvetica-font " href="https://www.nilaconsulting.com.mx/">Nosotros</a>
</li>
<li class="nav-item padding-nav-items">
    <a class="nav-link page-scroll baloo-font" href="/" style="font-size: 3.8em;">Lic<span style="color:rgb(241,90,36)!important">i</span>tamex</a>

</li>
{% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link page-scroll orange-color" style="font-size:1.3em" href="{% url 'dashboard' %}">Mi portal</a>
        </li>
        <li class="nav-item padding-nav-items">
            <a class="nav-link page-scroll helvetica-font" style="font-size:1.3em" href="{% url 'contact' %}">Ayuda</a>
        </li>
    {% else %}
        <li class="nav-item padding-nav-items">
            <a style="font-size:1.3em" class="nav-link page-scroll helvetica-font titles-font-size" href="{% url 'contact' %}">Contacto</a>
        </li>
    {% endif %}
{% endblock %}

{% block navbarback %}
    {% if request.user.is_authenticated %}
        <li class="nav-item padding-nav-items">
            <a class="nav-link page-scroll helvetica-font" style="font-size:1.3em" href="{% url 'logout' %}">Salir</a>
        </li>
    {% else %}
        <li class="nav-item padding-nav-items">
            <a style="font-size:1.3em" class="nav-link page-scroll helvetica-font" href="{% url 'register' %}">Regístrate</a>
        </li>
        <li style="padding-right: 0px;" class="nav-item padding-nav-items">
            <a style="font-size:1.3em" class="nav-link page-scroll helvetica-font" href="{% url 'login' %}">Iniciar sesión</a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}

    <!-- Services -->
    <div id="services" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="baloo-font" style="font-weight: 900; font-size: 3.5em;">Conócenos</h2>
                    <p class="p-heading p-large" style="font-family: avenir; font-size: 1.4em;">Aprovecha las oportunidades antes que nadie utilizando nuestro sistema de notificaciones</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image imagenes-principales" src="{% static 'images/IMG-ltmx-01.png' %}" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title baloo-font" style="font-weight: 900 !important;font-size: 1.9em;">
                                Enfócate en tu negocio
                            </h4>
                            <p style="font-family: avenir">Deja que nuestra plataforma se ocupe del monitoreo de convocatorias para que tu puedas dedicarte a lo importante</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image imagenes-principales" src="{% static 'images/IMG-Ltmx-02-1.png' %}" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title baloo-font" style="
                            font-weight: 900 !important;
                            font-size: 1.9em;">No pierdas tiempo</h4>
                            <p style="font-family: avenir">Enterate de las convocatorias tan pronto como son anunciadas<br><spa>&nbsp;</spa></p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image imagenes-principales" src="{% static 'images/IMG-ltmx-03.png' %}" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title baloo-font" style="
                            font-weight: 900 !important;
                            font-size: 1.9em;">Personalización</h4>
                            <p style="font-family: avenir">Crea notificaciones personalizadas justo a la medida de tu negocio<br><spa>&nbsp;</spa></p>
                        </div>
                    </div>
                    <!-- end of card -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of services -->


    <!-- Details 1 -->
    <div class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2 class="baloo-font" style="font-size: 2.8em!important;">Tú decides que notificaciones deseas recibir</h2>
                        <p class="avenir-font" style="font-size: 1.4em!important;">- Recibe notificaciones directamente en tu correo <span>&nbsp;&nbsp;</span>electrónico. <br>- Próximamente en tu celular</p>
                        <!--<a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">Ejemplo?</a>-->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/details-1-office-worker.svg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details 1 -->

    
    <!-- Details 2 -->
    <div class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/details-2-office-team-work.svg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2 class="baloo-font" style="font-size: 3.5em!important;">Conoce mejor tu negocio</h2>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div style="font-size:1.4em!important" class="media-body avenir-font">Analisa el registro historico de tus distintas alertas</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div style="font-size:1.4em!important" class="media-body avenir-font">Conoce cuantas notificaciones haz recibdo</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-asterisk"></i>
                                <div style="font-size:1.4em!important" class="media-body avenir-font">Próximamente administra con tu equipo tus licitaciones</div>
                            </li>
                        </ul>
                        <!--<a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-2">Ejemplo de reporte?</a>-->
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 2 -->

    <!-- Details Lightboxes -->
    <!-- Details Lightbox 1 -->
	<div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/details-lightbox-1.svg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Super ejemplo 1</h3>
                    <hr>
                    <h5>Asi se supone que se ve una alerta</h5>
                    <p>Super licitacion mamalona de la cosa que vendes y pusiste en el filtro de notificaciones</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Articulo</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Entidad que convoca</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Numero de la licitacion</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Link al PDF</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Otra cosa que no se me ocurre</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">ola ke ace</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close page-scroll" style="font-size: 1.4em;" href="#request">Regístrate</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">Atras</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 1 -->

    <!-- Details Lightbox 2 -->
	<div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/details-lightbox-2.svg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Super reporte mamalon</h3>
                    <hr>
                    <h5>Titulo (nombre de empresa y fecha?)</h5>
                    <p>bla bla bla bla ble ble ble ble ble bli bli bli blo blo blo blu blu blu blu</p>
                    <p>pablito clavo un clavito en la calva de un calvito porque es bien pinche asesino</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">super licitacion 1</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">super licitacion 2</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">super licitacion 3</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">super licitacion 4</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">super licitacion 5</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">super licitacion 6</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close page-scroll" href="#request">Regístrate</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">Atras</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of details lightbox 2 -->
    <!-- end of details lightboxes -->


    <!-- Pricing -->
    <div id="pricing" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="baloo-font" style="font-weight: 900; font-size: 3.5em;">Nuestras membresías</h2>
                    <p class="p-heading p-large avenir-font" style="font-size: 1.4em!important;">Conoce nuestras distintos tipos de membresia, y subcribete al que mas le acomode a tu negocio</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card-->
                    <div class="card">
                        <div class="baloo-font card-titles-basic" style="font-weight: 900; font-size: 3.8em;">
                            <div>Básico</div>
                        </div>

                        <div class="card-body black-background-color body-cards">
                            <hr class="cell-divide-hr">
                            <div class="price baloo-font" style="color:white">
                                <br>
                                <span class="currency" style="color:white">$</span><span class="value" style="color:white">249</span>
                                <div class="frequency">mensual</div>
                            </div>
                            <hr class="cell-divide-hr">
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body texto-normal">1 Usuario</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body texto-normal">Administración de licitaciones</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body texto-normal">1GB de Almacenamiento</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body texto-normal">15 filtros Personalizados</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg page-scroll" style="font-size:1.4em" href="/account/register/">Regístrate</a>
                            </div>
                        </div>
                    </div> <!-- end of card -->
                    <!-- end of card -->
                    <div class="card">
                        <div class="baloo-font card-titles-premium" style="font-weight: 900; font-size: 3.8em;">
                            <div>Premium</div>
                        </div>

                        <div class="card-body body-cards">
                            <hr class="cell-divide-hr">
                            <div class="price baloo-font" style="color:white">
                                <p class="baloo-font" style="color:red; margin:0px">Proximamente</p>
                                
                                <span class="currency black-color">$</span><span class="value black-color">549</span>
                                <div class="frequency black-color">mensual</div>
                            </div>
                            <hr class="cell-divide-hr">
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body black-color texto-normal">20 Usuarios</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body black-color texto-normal">Administración de licitaciones</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body black-color texto-normal">5GB de almacenamiento</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body black-color texto-normal">99 Filtros Personalizados</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <!--<a class="btn-solid-reg page-scroll" style="font-size:1.4em" href="/account/register/">Registrate</a>-->
                            </div>
                        </div>
                    </div>
                    

                    <div class="card">
                        <div class="baloo-font card-titles-basic" style="font-weight: 900; font-size: 3.8em;">
                            <div>Plus</div>
                        </div>
    
                            <div class="card-body black-background-color body-cards">
                                <hr class="cell-divide-hr">
                                <div class="price baloo-font" style="color:white">
                                    <p class="baloo-font" style="color:red; margin:0px">Proximamente</p>

                                    <span class="currency" style="color:white">$</span><span class="value" style="color:white">399</span>
                                    <div class="frequency">mensual</div>
                                </div>
                                <hr class="cell-divide-hr">
                                <ul class="list-unstyled li-space-lg">
                                    <li class="media">
                                        <i class="fas fa-check"></i><div class="media-body texto-normal">5 Usuarios</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-check"></i><div class="media-body texto-normal">Administración de licitaciones</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-check"></i><div class="media-body texto-normal">2GB de almacenamiento</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-check"></i><div class="media-body texto-normal">35 filtros Personalizados</div>
                                    </li>
                                </ul>
                                <div class="button-wrapper">
                                    <!--<a class="btn-solid-reg page-scroll" style="font-size:1.4em" href="/account/register/">Registrate</a>-->
                                </div>
                            </div>
                        </div> <!-- end of card -->
                    <!-- end of card -->
                


                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of pricing -->



    <!-- Testimonials -->
    <!--<div class="slider-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/testimonials-2-men-talking.svg' %}" alt="alternative">
                    </div> 
                </div> 
                <div class="col-lg-6">
                    <h2>Testimonios</h2>

                    
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">
                                
                               
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'images/testimonial-1.svg' %}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">La mayoria de las personas piensa que vendo detergente por mi apellido, y tienen razon, vendi 4 billones de pejepesos al gobierno en maistro limpio.</p>
                                            <p class="testimonial-author">Juan Vendedetergentes - Empresario</p>
                                        </div>
                                    </div>
                                </div> 
        
                              
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'images/testimonial-2.svg' %}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">Los de licitamex amenazaron a mi familia para que hablara bien de ellos.</p>
                                            <p class="testimonial-author">Ciudadano cualquiera - Godin</p>
                                        </div>
                                    </div>        
                                </div> 
                                <div class="swiper-slide">
                                    <div class="card">
                                        <img class="card-image" src="{% static 'images/testimonial-3.svg' %}" alt="alternative">
                                        <div class="card-body">
                                            <p class="testimonial-text">Me gustan las tortugas</p>
                                            <p class="testimonial-author">Barack Obama - Nigga de barrio</p>
                                        </div>
                                    </div>        
                                </div> 
                               
                            </div> 
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            
                        </div> 
                    </div> 
                    

                </div> 
            </div> 
        </div> 
    </div> 
     -->


    
{% endblock %}
