{% extends "base.html" %}
{% load static %}

{% block title %}Licitamex home page{% endblock %}

{% block header %}
    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Aviso de Privacidad</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
{% endblock %}

{% block navbarfront %}

{% endblock %}

{% block navbarback %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link page-scroll orange-color" href="{% url 'dashboard' %}">Mi portal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="{% url 'logout' %}">Salir</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link page-scroll" href="/account/register">Regístrate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="{% url 'login' %}">Iniciar sesión</a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}
    <!-- Privacy Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="text-container">
                        <p style="font-size:1.2em;">El presente documento contiene el AVISO DE PRIVACIDAD de los datos personales recabados y el tratamiento de los mismos por NILA CONSULTING S.A. DE C.V. (En lo sucesivo denominada como “Licitamex” y/o el responsable” indistintamente</p>
                        <p style="font-size:1.2em;">
                            “Licitamex” se compromete y dirige conforme a lo estipulado en la Constitución Política de los Estados Unidos Mexicanos en su artículo 16, párrafo segundo, así como con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y de cualquier otra norma relativa y aplicable al tratamiento de datos personales. En atención y cumplimento a la normatividad, “Licitamex” pone a disposición el AVISO DE PRIVACIDAD, para que el Titular de los datos personales pueda ejercer su derecho a la protección, el acceso, rectificación, cancelación y oposición de los mismos.
                        </p>
                        <p style="font-size:1.2em;">
                            “Licitamex” pone a su disposición el presente Aviso de Privacidad, el cual podrá ser consultado a través de la página electrónica con dominio https://consultalicitamex.com/.
                        </p>
                        <p style="font-size:1.2em;">
                            Usted Titular al ingresar a la página web de “Licitamex” y utilizar los medios electrónicos de la plataforma inserta a la página, declara que acepta de manera expresa y otorga el consentimiento de los términos y condiciones contenidos en el presente AVISO DE PRIVACIDAD conforme al artículo 8 segundo párrafo de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares,  y será determinante para que “Licitamex” pueda dar tratamiento a los datos personales mediante el marco de la  Ley ante citada.  
                        </p>
                        <p style="font-size:1.2em;">
                            Si Usted Titular no acepta en forma expresa y absoluta los términos y condiciones de este Aviso, deberá de abstenerse de proporcionar cualquier tipo de dato personal a “Licitamex” por cualquier medio electrónico, escrito o cualquier índole.
                        </p>
                        <p style="font-size:1.2em; font-weight: 900;">
                            OBSERVACIÓN DE LOS PRINCIPIOS EN TRATAMIENTO DE DATOS PERSONALES.
                        </p>
                        <p style="font-size:1.2em;">
                            En todo momento se observarán los principios de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad en el tratamiento de datos personales. 
                            Mismos que consisten en lo siguiente:

                        </p>
                        <p style="font-size:1.2em;">
                            <span style="font-weight: 900;">1. Principio de licitud: </span> Obliga al responsable a que el tratamiento sea con apego y cumplimiento a lo dispuesto por la legislación mexicana y el derecho internacional.
                        </p>
                        <p  style="font-size:1.2em;"><span style="font-weight: 900;">2. Principio de consentimiento: </span> Todo tratamiento de datos personales estará sujeto al consentimiento de su titular. El consentimiento será expreso cuando la voluntad se manifieste verbalmente, por escrito, por medios electrónicos, ópticos o por cualquier otra tecnología, o por signos inequívocos. Se entenderá que el titular consiente tácitamente el tratamiento de sus datos, cuando habiéndose puesto a su disposición el aviso de privacidad, no manifieste su oposición.</p>
                        <p style="font-size:1.2em;"><span style="font-weight: 900;">3. Principio de información: </span> El responsable tendrá la obligación de informar a los titulares de los datos, la información que se recaba de ellos y con qué fines, a través del aviso de privacidad.</p>
                    
                                       
                    <a class="btn-outline-reg back" href="index.html">BACK</a>
                </div> <!-- end of col-->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-2 -->
    <!-- end of privacy content -->

{% endblock %}